@page "/posts"

<PageTitle>Posts - Silver Lemonade</PageTitle>

<h1>Blog Posts</h1>

<div class="mb-3">
    <button class="btn btn-primary">Create New Post</button>
</div>

<div class="row">
    <div class="col-12">
        <p>No posts available yet.</p>
    </div>
</div>

@code {
    // TODO: Implement posts loading from API
}
